@using QMS.Core.Enums
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    var userRole = HttpContextAccessor.HttpContext.Session.GetInt32("UserRole") ?? 0;
    var vendor_Id = HttpContextAccessor.HttpContext.Session.GetInt32("Vendor_Id") ?? 0;
    var userName = HttpContextAccessor.HttpContext.Session.GetString("FullName") ?? "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tracker Selection</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS and Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <title>@ViewData["Title"] - QMS Module</title>
    <link href="~/css/icomoon/styles.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/fontawesome/styles.min.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link href="~/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" /> *@
    <link href="~/css/bootstrap_limitless.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/colors.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/components.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/layout.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/all.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   
    <style>
        body {
            background: #D6E4F0 ;
          
        }

        .qms-card {
            transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
            border: none;
            border-left: 5px solid transparent;
        }

            .qms-card:hover {
                transform: scale(1.01);
                box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
                border-left: 5px solid #0d6efd;
                background-color: #e9f2ff;
                cursor: pointer;
            }

            .qms-card .icon {
                font-size: 2.5rem;
                color: #0d6efd;
                transition: transform 0.3s;
            }

            .qms-card:hover .icon {
                transform: rotate(5deg) scale(1.1);
            }

        .details-section {
            display: none;
            animation: fadeIn 0.5s ease-in-out forwards;
            background: #fff;
            border-left: 4px solid #0d6efd;
        }

        @@keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateY(20px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .menu-active {
            background-color: #eee !important;
            color: #0c83ff !important;
            font-weight: bold;
            font-size: small;
        }

        .nav-group-sub {
            display: none;
        }

            .nav-group-sub.open {
                display: block; /* Show the submenu when it has the 'open' class */
                color: #FFFF00 !important;
            }



    </style>
</head>
<body style="overflow:hidden">

    <div class="navbar navbar-dark navbar-expand-lg navbar-static">
        <div class="d-md-none">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
                <i class="icon-tree5"></i>
            </button>
            <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
                <i class="icon-paragraph-justify3"></i>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbar-mobile">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block mt-1">
                        <i class="icon-paragraph-justify3"></i>
                    </a>
                </li>

                <div class="navbar-brand">
                    <span class="h5"><strong>Quality Management System (QMS) </strong></span><span id="versionSpan" onclick="" style="font-size: 14px; margin-left:8px; font-weight:500">Version - 1.0.0 25/04/2025</span>
                </div>

            </ul>
            <span class="badge ml-md-3 mr-md-auto"> </span>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <button id="wiproBackButton" type="button" class="btn btn-warning legitRipple" onclick="location.href='@Url.Action("OptionSelection", "Home")'" style="margin: 5px 3px;width: 172px; font-size:15px">
                        <i class="fas fa-solid fa-house-user mr-2 fa-1x"></i>Home
                    </button>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item dropdown dropdown-user">
                    <a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
                        <span>
                            <span class="font-weight-bold">@HttpContextAccessor.HttpContext.Session.GetString("FullName")</span>
                        </span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item"><i class="icon-cog5"></i> Account settings</a>
                        <a href="@Url.Action("Logout", "Account")" class="dropdown-item"><i class="icon-switch2"></i> Logout</a>
                    </div>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="@Url.Action("Login", "Account")" class="navbar-nav-link">
                        <i class="icon-switch"></i>
                        <span class="ml-2">Login</span>
                    </a>
                </li>
            </ul>

        </div>
    </div>
 
    <div class="row align-items-center" style="padding:10px;">
        <!-- Search box on the left -->
        <div class="col-md-4">
            <input type="text" id="cardSearch" class="form-control" placeholder="Search Tracker..." style="border-radius: 10px;">
        </div>

        <!-- Back button on the right -->
        <div class="col-md-8 text-end">
            <button id="tarcBackButton" type="button" class="btn btn-primary"
                    onclick="location.href='@Url.Action("WiproMenu", "Home")'"
                    style="width: 175px; font-size:15px;">
                <i class="fas fa-arrow-left"></i> Back To Wipro
            </button>
        </div>
    </div>


    <div  style="padding:50px;" >
        
        <div class="d-flex flex-column gap-2">

            <div class="row g-2">
                <div class="col-2">
                    <div class="card qms-card " onclick="location.href='@Url.Action("BisProjectTracker","BisProjectTrac")'">
                        <div class="d-flex align-items-center">
                            <i class="bi bi-calendar icon me-3"></i>
                            <h5 class="mb-0">BIS Project Tracker</h5>
                        </div>
                    </div>
                </div>

                <div class="col-2">
                    <div class="card qms-card " onclick="location.href='@Url.Action("ThirdPartyInspection","ThirdPartyInspection")'">
                        <div class="d-flex align-items-center">
                            <i class="bi bi-layout-text-sidebar-reverse icon me-3" style="color:darkred"></i>
                            <h5 class="mb-0">Third Party Inspection Tracker</h5>
                        </div>
                    </div>
                </div>

                <div class="col-2">
                    <div class="card qms-card " onclick="location.href='@Url.Action("PaymentTracker","PaymentTracker")'">
                        <div class="d-flex align-items-center">
                            <i class="bi bi-person-badge icon me-3" style="color:seagreen"></i>
                            <h5 class="mb-0">Payment Tracker</h5>
                        </div>
                    </div>
                </div>
           
          
                <div class="col-2">
                    <div class="card qms-card " onclick="location.href='@Url.Action("PDITracker","PDITracker")'">
                        <div class="d-flex align-items-center">
                            <i class="bi bi-book icon me-3" style="color:blueviolet"></i>
                            <h5 class="mb-0">PDI Tracker</h5>
                        </div>
                    </div>
                </div>

                <div class="col-2">
                    <div class="card qms-card " onclick="location.href='@Url.Action("FIFOTracker", "FIFOTrac")'">
                     
                        <div class="d-flex align-items-center">
                            <i class="bi bi-alipay icon me-3" style="color:chocolate"></i>
                            <h5 class="mb-0">FIFO Tracker Waluj testing</h5>
                        </div>
                    </div>
                </div>

                <div class="col-2">
                    <div class="card qms-card " onclick="location.href='@Url.Action("ThirdPartyTestTrac","ThirdPartyTest")'">
                        <div class="d-flex align-items-center">
                            <i class="bi bi-bar-chart-steps icon me-3" style="color:cyan"></i>
                            <h5 class="mb-0">Third Party Test Tracker</h5>
                        </div>
                    </div>
                </div>
          

           
                <div class="col-2">
                    <div class="card qms-card " onclick="location.href='@Url.Action("KaizenTracker","KaizenTracker")'">
                        <div class="d-flex align-items-center">
                            <i class="bi bi-amd icon me-3" style="color:blueviolet"></i>
                            <h5 class="mb-0">Kaizen Tracker</h5>
                        </div>
                    </div>
                </div>

                <div class="col-2">
                    <div class="card qms-card" onclick="location.href='@Url.Action("PDIAuthSignatory","PDIAuthSign")'">
                        <div class="d-flex align-items-center">
                            <i class="bi bi-layout-text-sidebar-reverse icon me-3" style="color:darkkhaki"></i>
                            <h5 class="mb-0">PDI Authorised Signatory </h5>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="card qms-card" onclick="location.href='@Url.Action("PDIAuthSignatory", "PDIAuthSign")'">
                        <div class="d-flex align-items-center">
                            <i class="bi bi-layout-text-sidebar-reverse icon me-3" style="color:darkkhaki"></i>
                            <h5 class="mb-0">PDI Authorised Signatory </h5>
                        </div>
                    </div>
                </div>
               
            </div>
      


        </div>
    </div>

    <div class="content-wrapper">
        @RenderBody()
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Core JS files -->
    <script src="~/js/app.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/blockui.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/d3.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/d3_tooltip.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/switchery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/moment.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/daterangepicker.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/echarts.min.js" asp-append-version="true"></script>
    <script src="~/js/Dashboard/progress.js" asp-append-version="true"></script>
    <script src="~/js/Dashboard/pie_basic.js" asp-append-version="true"></script>
    <script src="~/js/Dashboard/columns_basic.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/noty.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/popupalert.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/pnotify.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/interactions.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/touch.min.js" asp-append-version="true"></script>
    <script src="~/js/components_collapsible.js" asp-append-version="true"></script>

    <script>
        function showDetails(title) {
            const section = document.getElementById("detailsSection");
            const titleElement = document.getElementById("detailsTitle");
            section.style.display = 'block';
            titleElement.textContent = `${title} - Details`;
        }



        // Search Functionality
        const searchInput = document.getElementById("cardSearch");
        const cards = document.querySelectorAll("#cardContainer .card-item");

        searchInput.addEventListener("keyup", function() {
            const filter = this.value.toLowerCase();

            cards.forEach(card => {
                const title = card.querySelector("h5").innerText.toLowerCase();
                if (title.includes(filter)) {
                    card.style.display = "block";
                } else {
                    card.style.display = "none";
                }
            });
        });
   
    </script>

</body>
</html>

